.quarter-ellipse3 { border-radius: 0 0 70% 18%; }
.quarter-ellipse {
    background-image: linear-gradient(to top, #F0D9FF  4%,#BFA2DB 100%);
    width: 100%;
    height: 40rem;
    display: flex;
   justify-content: center;
  }
  .row{
    display: flex;
    margin-top: 10rem;
  }
  .cards{
    height: 300px;
    width: 300px;
    pointer-events: none;
    background: white;
    overflow: hidden;
    border-radius: 10px;
    margin: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.image1{
  position: absolute; 
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  width: 16rem;
  height: 16rem;
  border-radius: 100%;

}
.col{
  display: flex; 
  flex-direction: column;
}
h1{
  color: white;
  font-size: 3rem;
  font-family: 'bella-safira';
  font-weight: 100;
  margin-bottom: 0;
  max-width: 40rem;
}
h2{
  color:#A8587D ;
  font-family: 'dejavu';
  line-height: 0;
}
h2 span {
  color: white;
  font-size: 1.4rem;
  font-weight: 100;
}
.buttons{
  display:flex;
  margin-top: 2rem;
}
.btn{
  border-radius: 10px;
  width: 9rem;
  padding: 0.8rem;
  border: none;
  font-family: 'dejavu';
  font-size: 1.2rem;
  font-weight: 900;
  cursor: pointer;
  background-color: white;
  color: #A8587D;
  margin-right: 1rem;
  --hover: #A8587D; 
  transition: 0.25s;

}
.btn:hover,
.btn:focus {
  border-color: var(--hover);
  color:white;
  box-shadow: inset 9rem 0 0 0 var(--hover);
}
.col2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 40rem;
  align-items: start;
  margin: auto;
  position: relative;
  }
.center{
  display: flex;
    flex-direction: column;
    align-items: center;
}
h3{
  text-align: center;
  color:#A8587D ;
  font-family: 'dejavu';
  font-size: 2rem;
}
.image2{
  height: 20rem;

}
.btn1{
  border-radius: 10px;
  width: 9rem;
  padding: 0.8rem;
  border: none;
  font-family: 'dejavu';
  font-size: 1.2rem;
  font-weight: 900;
  cursor: pointer;
  color: white;
  background-color: #A8587D;
  margin-right: 1rem;
  height: 3rem;

}
p{
  font-size: 1rem;
  font-family: 'dejavu';
  font-weight: 700;
  line-height: 1.6rem;
}
h4{
    font-size: 1.5rem;
    font-family: 'dejavu';
    color: #b96089;
}
.col1{
display: flex;
flex-direction: column;
}
.row2{
  display: flex;
  align-items: center;
}
.row3{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 1rem;
  justify-content: space-between;
}
.image3{
  width: 5rem;
  border: 0.1rem solid #9689bb;
  border-radius: 100%;
}
h5{
  margin: 0.3rem;
  font-family: 'dejavu';
  font-size: 1rem;
}
.btn2{
  border-radius: 10px;
  width: 9rem;
  border: 2px solid green;
  font-family: 'dejavu';
  font-size: 1.2rem;
  font-weight: 900;
  cursor: pointer;
  color: green;
  background-color: #ffffff;
  margin-right: 1rem;
  height: 3rem;
  margin-left: 15rem;
  --hover: green; 
  transition: 0.25s;


}
.btn2:hover,
.btn2:focus {
  border-color: var(--hover);
  color:white;
  box-shadow: inset 0 0 0 2em var(--hover);
}
.btn3{
  border: none;
    width: 8rem;
    height: 2rem;
    background-color: #3b82f6;
    color: white;
    font-family: 'dejavu';
    font-weight: 800;
    align-self: end;
    cursor: pointer;
}
.comment{
  background-color: #b7b5b526;
  width: 40rem;
  margin-top: 1rem;
  height: auto;
  display: flex;
  flex-direction: column;
  border: 1px solid #00000038;
  border-radius: 0.5rem;
}
.commentcontent{
  display: flex;
  align-items: center;
  margin-top: -1rem;
  margin-left: 0.5rem;
}
.parag{
  padding-left: 2rem;
  max-width: 38rem;
}
.icons{
  position: absolute;
  right: 1rem;
}
::ng-deep .p-dialog .p-dialog-header {
  padding-bottom: 3rem;
}
::ng-deep .p-button.p-button-secondary.p-button-outlined {
  margin: 0.5rem;
}
p-tabview{
  margin-top: 1rem;
  margin-bottom: -12rem;
}
::ng-deep .p-tabview .p-tabview-panels {
  background: transparent!important;
}
::ng-deep .p-datatable-scrollable .p-datatable-wrapper {
  overflow: hidden!important;
}
::ng-deep.p-dialog .p-dialog-header {
   padding-bottom: 0rem;
}
.container {
  position:absolute;
}
.label {
  padding:10px;
  font-size:18px;
  color:#111;
}
.copy-text {
  position:relative;
  padding:10px;
  background:#fff;
  border:1px solid #ddd;
  border-radius:10px;
  display:flex;
}
.copy-text input.text {
  padding:10px;
  font-size:18px;
  color:#555;
  border:none;
  outline:none;
  padding-right:50px;
}
.copy-text button {
  padding:10px;
  background:#5784f5;
  color:#fff;
  font-size:18px;
  border:none;
  outline:none;
  border-radius:10px;
  cursor:pointer;
}
.copy-text button:active {
  background:#809ce2;
}
.copy-text button:before {
  content:"Copied";
  position:absolute;
  top:-45px;
  right:0px;
  background:#5c81dc;
  padding:8px 10px;
  border-radius:20px;
  font-size:15px;
  display:none;
}
.copy-text button:after {
  content:"";
  position:absolute;
  top:-20px;
  right:25px;
  width:10px;
  height:10px;
  background:#5c81dc;
  transform:rotate(45deg);
  display:none;
}
.copy-text.active button:before,
.copy-text.active button:after {
  display:block;
}

.context {
  width: 100%;
  position: absolute;
  top:50vh;
  
}

.context h1{
  text-align: center;
  color: #fff;
  font-size: 50px;
}
.limitTextHeight {
  height: 24rem;
  overflow: hidden;
}
.readmore{
  text-decoration: underline;
    font-family: 'dejavu';
    font-weight: bold;
    font-size: 0.8rem;
    cursor: pointer;
}

.circles{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin-top: 120rem;
}
.alert1{
  color: red;
  padding-bottom: 0.1rem;
}
.image4{
  width: 4rem;
  height: 4rem;
  border: 0.1rem solid #9689bb;
  border-radius: 100%;
}
.circles li{
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgb(197 169 223);
  animation: animate 25s linear infinite;
  bottom: -150px;
  
}

.circles li:nth-child(1){
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}


.circles li:nth-child(2){
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3){
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4){
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5){
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6){
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7){
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8){
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9){
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10){
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}



@keyframes animate {

  0%{
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
  }

  100%{
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
  }

}