<div class="content">
    <div class="slides">
      <div class="CSSgal">
        <s id="s1"></s>
        <s id="s2"></s>
        <div class="slider image-slideshow ">
          <div
            style="background-image: radial-gradient(circle,#F0D9FF ,#BFA2DB, #BFA2DB ); max-height: 60rem; min-height: 60rem;">
            <div class="box">
              <img class="image1" src="../../assets/images/hands.png" style="margin-top: -2%;">
            </div>
            <h1 style="margin-top: -39rem;">
              Support causes</h1>
          </div>
          <div
            style="background-image: radial-gradient(#F0D9FF ,#BFA2DB, #BFA2DB ) ;max-height: 60rem; min-height: 60rem;">
            <div class="box">
              <img class="image2" src="../../assets/images/box.png" style="padding-right: 10rem;">
            </div>
            <h1 style="margin-top: -19rem;">Make a donation</h1>
          </div>
        </div>
        <div class="prevNext">
          <div><a class="arrow arrow1" href="#s1"></a><a class=" arrow arrow2" href="#s2"></a></div>
        </div>
      </div>
    </div>
  
  
    <div class="container" style="width: auto;" >
           <div class="content" >
               <h2>Public funds</h2>
               <div class="row">
                <app-shared-button (onClick)="functioncall($event)" [label]="'Education'"></app-shared-button>
                <app-shared-button (onClick)="functioncall($event)"[label]="'Santé'" > </app-shared-button>
                <app-shared-button (onClick)="functioncall($event)" [label]="'Fond publiques'"></app-shared-button>
                <app-shared-button (onClick)="functioncall($event)"[label]="'Environnement'" > </app-shared-button>
                <app-shared-button (onClick)="functioncall($event)"[label]="'Association'" > </app-shared-button>
               </div> 
              <div class="row1" >
                 <div class="cards">
                      <img  style=" margin-top:10px;" src="../../assets/images/1.png" width="200px" height="200px" >
                     <h3> Project 1</h3>
                     <p>Description projet Description projet Description projet Description projet Description projet Description projet</p>
                     <div class="mini-card" >
                         <h4>Objectif<br> <span>5000 DT</span></h4>
                         <div class="vertical"></div>
                         <h4>Collecté <br> <span>5000 DT</span></h4>
                         <div class="vertical"></div>
                         <h4>Participants <br> <span>5000 DT</span></h4>
                     </div>
  
                 </div>
                <div class="cards">
                  <img  style="  margin-top:10px;" src="../../assets/images/1.png" width="200px" height="200px" >
                     <h3> Project 2</h3>
                     <p style="font-size: 15px; margin-left: 15px;color: #000000a6;">Description projet Description projet Description projet Description projet Description projet Description projet</p>
                     <div class="mini-card" >
                         <h4>Objectif<br> <span>5000 DT</span></h4>
                         <div class="vertical"></div>
                         <h4>Collecté <br> <span>5000 DT</span></h4>
                         <div class="vertical"></div>
                         <h4>Participants <br> <span>5000 DT</span></h4>
                     </div>
                 </div>
                <div class="cards">
                  <img  style="  margin-top:10px;" src="../../assets/images/1.png" width="200px" height="200px" >
                  <h3> Project 3</h3>
                  <p style="font-size: 15px; margin-left: 15px;color: #000000a6;">Description projet Description projet Description projet Description projet Description projet Description projet</p>
                  <div class="mini-card" >
                      <h4>Objectif<br> <span>5000 DT</span></h4>
                      <div class="vertical"></div>
                      <h4>Collecté <br> <span>5000 DT</span></h4>
                      <div class="vertical"></div>
                      <h4>Participants <br> <span>5000 DT</span></h4>
                  </div>
                 </div>
                 <div class="cards">
                  <img  style="  margin-top:10px;" src="../../assets/images/1.png" width="200px" height="200px" >
                  <h3> Project 3</h3>
                  <p style="font-size: 15px; margin-left: 15px;color: #000000a6;">Description projet Description projet Description projet Description projet Description projet Description projet</p>
                  <div class="mini-card" >
                      <h4>Objectif<br> <span>5000 DT</span></h4>
                      <div class="vertical"></div>
                      <h4>Collecté <br> <span>5000 DT</span></h4>
                      <div class="vertical"></div>
                      <h4>Participants <br> <span>5000 DT</span></h4>
                  </div>
                 </div>
                 <div class="cards">
                  <img  style="  margin-top:10px;" src="../../assets/images/1.png" width="200px" height="200px" >
                  <h3> Project 3</h3>
                  <p style="font-size: 15px; margin-left: 15px;color: #000000a6;">Description projet Description projet Description projet Description projet Description projet Description projet</p>
                  <div class="mini-card" >
                      <h4>Objectif<br> <span>5000 DT</span></h4>
                      <div class="vertical"></div>
                      <h4>Collecté <br> <span>5000 DT</span></h4>
                      <div class="vertical"></div>
                      <h4>Participants <br> <span>5000 DT</span></h4>
                  </div>
                 </div>
                 <div class="cards">
                  <img  style="  margin-top:10px;" src="../../assets/images/1.png" width="200px" height="200px" >
                  <h3> Project 3</h3>
                  <p style="font-size: 15px; margin-left: 15px;color: #000000a6;">Description projet Description projet Description projet Description projet Description projet Description projet</p>
                  <div class="mini-card" >
                      <h4>Objectif<br> <span>5000 DT</span></h4>
                      <div class="vertical"></div>
                      <h4>Collecté <br> <span>5000 DT</span></h4>
                      <div class="vertical"></div>
                      <h4>Participants <br> <span>5000 DT</span></h4>
                  </div>
                 </div>
  
              </div>
            
              <div style="display: flex; justify-content: center;">
               <button  type="button" routerLink="/allcampaigns" class="btn2">See More</button>
             </div>
  
        </div>
      </div>
    <!-- <div class="container">
      <h2>Fond publiques</h2>
      <div class="buttons"
        style="display: flex; justify-content: center; flex-direction: row; flex-wrap: wrap; margin-top: 3rem;">
        <button routerLink="/accueil" [class.active]="!category" type="button" class="btn">All </button>
        <div *ngFor="let c of Category ">
          <button routerLink="/accueil" [class.active]="category === c.name" [queryParams]="{category:c.name}"
            type="button" class="btn">{{c.name}} </button>
        </div>
      </div>
  
        <div id="cover">// this div i will keep as a comment 
        <form method="get" >
          <div class="tb">
            <div class="td"><input type="text" name="search" placeholder="Search" [(ngModel)]="term" required ></div> 
          </div>
        </form>
      </div> -->
      <!-- <div class="row" style="display: flex; justify-content: center; margin-top: 3rem;">
        <div *ngFor="let collect of filteredCollect.slice(-6) | paginate:{itemsPerPage:9,currentPage:p} | filter:term"
          class="cards">
          <img
            style="margin-left: 35px;width:200px; height:200px; margin-top: 12px; max-block-size: 250px; min-block-size: 100px;"
            src="{{url+collect.image}}" class="img-fluid rounded-circle w-60">
          <h3 style="max-block-size: 40px; min-block-size: 40px;"> {{collect.name}} </h3>
          <p style="font-size: 15px; margin-left: 15px;color: #000000a6; max-block-size: 60px; min-block-size: 60px;">
            {{collect.description}}</p>
          <div class="mini-card">
            <h4>Objectif<br> <span>{{collect.objective}} DT</span></h4>
            <div class="vertical"></div>
            <h4>Collecté <br> <span>5000 DT</span></h4>
            <div class="vertical"></div>
            <h4>Participants <br> <span>5000 DT</span></h4>
          </div>
        </div>
      </div>
      <div style=" display: flex;justify-content: flex-end; margin-top: 4rem !important;">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </div>
  
      <div style="display: flex; justify-content: center;">
        <button type="button" routerLink="/collect" class="btn2 btn btn-secondary">Voir Plus</button>
      </div>
    </div> --> 
    <div class="row2">
      <div  class="col1">
        <img class="image" src="../../assets/images/hug.png">
          <h6>where the hearts hug</h6>
      </div>
      <div class="col2">
        <p>A platform dedicated to collecting donations online. Our service allows everyone to finance a project with a humanitarian, social, solidarity or miscellaneous vocation. Alone or in a group, launch your free online fundraising campaign in less than a minute!</p>
      </div>
    </div>
    <div class="container" style="display: flex; justify-content: center; align-items: center; padding-bottom:15rem;margin-top: 8rem;    margin-bottom: -20rem;
    ">
      <div class="cards1">
        <div class="row3">
          <div class="col">
            <h5>How it works ?</h5>
            <img  src="../../assets/images/2.png" width="200px" height="200px">
            <p > Creating a campaign is very easy, fast and free!</p>
          </div>
          <div class="col">
            <h5 >C'est quoi ?</h5>
            <img  src="../../assets/images/1.png" width="200px" height="200px">
            <p >Creating a campaign is very easy, fast and free!</p>
          </div>
          <div class="col">
            <h5>Pourquoi ?</h5>
            <img src="../../assets/images/4.png" width="200px" height="200px">
            <p>Creating a campaign is very easy, fast and free!</p>
          </div>
  
        </div>
      </div>
    </div>
  
  
  </div>