<footer style="position:relative">
    <div class="content">
       <div class="row"> 
          <div class="row1">
             <div class="column1">
               <ul>
                   <li><a href="#">About us</a></li>
                   <li><a href="#">Home</a></li>
                   <li><a href="#">Sentiment Analysis</a></li>
                   <li><a href="#">Blog</a></li>
                   <li><a href="#">Contact</a></li>
   
               </ul>
              </div>
              <div class="column2">
               <ul>
                   <li><a href="#">About us</a></li>
                   <li><a href="#">Artificial Intelligence</a></li>
                   <li><a href="#">Digital Marketing</a></li>
                   <li><a href="#">Web Development</a></li>
                   <li><a href="#">Mobile</a></li>
                   <li><a href="#">Augmented reality</a></li>
   
               </ul>
              </div>
              <div class="column2">
               <ul>
                   <li><a href="#">Newsletter</a></li>
                   <li><a href="#">Sign up to get our lastest news and offers.</a></li>
                   <!-- <li>
                       <div class="input1">
                       <input type="text" placeholder="Email" name="search">
                       <button type="submit"><img src="/assets/triangle.png"></button>
                      </div>
                   </li> -->
                   <li>
                    <a> <i class="pi pi-facebook" style="font-size:4vh"></i> </a>
                    <a> <i class="pi pi-linkedin" style="font-size:4vh"></i></a>
                    <a> <i class="pi pi-instagram" style="font-size:4vh"></i> </a>
                  </li>
               </ul>
           </div>
       
       </div>
     
      <!-- </div> -->
       <hr>
       <div class="row2" >
           <a href="#">© 2021 Copyright All Rights</a>
        <ul>
           <li><a href="#">Privacy policy</a></li>
           <li><a href="#">Terms & conditions</a></li>
           <li><a href="#">Webinar Registration</a></li>
        </ul>
      </div>
   </div>
   </div>
   
   
   </footer>