<h1>Send a request for an upgrade</h1>
<p-toast></p-toast>
<div class="container">
  <div class="card">
    <form [formGroup]="RequestForm" (ngSubmit)="RequestForm.valid && createCampaign()">
      <label>Subject</label>
      <input type="text"  formControlName="subject"  [style]="{'width':'39rem'}" pInputText> 
      <div *ngIf="RequestForm.controls['subject'].errors?.['subject'] && (RequestForm.controls['subject'].dirty || RequestForm.controls['subject'].touched)" class="alert1" >
        subject is required.
      </div>
      <label>Description</label>
      <textarea type="text"  formControlName="description"  [style]="{'width':'39rem'}" pInputText></textarea>
      <div *ngIf="RequestForm.controls['description'].errors?.['description'] && (RequestForm.controls['description'].dirty || RequestForm.controls['description'].touched)" class="alert1" >
        description is required.
      </div>
      <label>ID Card</label>
      <input type="file" class="choose" (change)="onFileSelect($event)" />
      <button type="submit" [disabled]="!RequestForm.valid" >Send a Request</button>
  </form>
</div>
</div>