<p-toast></p-toast>
<div class="container">
  <div class="card">
    <form [formGroup]="CampaignForm" (ngSubmit)="createCampaign()">
      <label>Name</label>
      <input type="text" pInputText formControlName="name"  [style]="{'width':'39rem'}"> 
       <label>Goal</label>
        <div class="p-inputgroup" [style]="{'width':'39rem'}">
         <p-inputNumber mode="decimal" formControlName="objective" [minFractionDigits]="2"></p-inputNumber>
         <span class="p-inputgroup-addon" [style]="{'font-family': 'dejavu','font-weight': 900}">DT</span>      
      </div>
      <label>Category</label>
      <p-dropdown inputId="dropdown" [options]="categories" formControlName="category" [style]="{'width':'39rem'}" [autoDisplayFirst]="false" optionLabel="name"></p-dropdown>
      <label>Description</label>
      <p-editor formControlName="description" type="text" [style]="{'height':'20rem'}"></p-editor>
      <label>Image</label>
      <input type="file" class="choose" (change)="onFileSelect($event)" />
      <button type="submit">Create My Campaign</button>
  </form>
</div>
</div>