<div class="body" >
    <div class="content" >
      <form  *ngIf="!isSuccessful" [formGroup]="signUpForm" (ngSubmit)="signUpForm.valid && onSubmit()"> 
           <div class="h1container" style="display: flex; justify-content: center;">
          <h1>Bienvenue</h1>
        </div>
         <div class="inputcontainer">
            <!-- <select  id="whoareyou" formControlName="whoareyou" required>
              <option value="" disabled selected >Vous etes ?</option>
              <option value="Association" >Association</option>
              <option value="Simple utilisateur">Simple utilisateur</option>
            </select>
            <span class="focus"></span>
          <div *ngIf="signUpForm.controls['whoareyou'].errors?.required && (signUpForm.controls['whoareyou'].dirty || signUpForm.controls['whoareyou'].touched)" class="alert1">
            this filed is required.
          </div> -->
          <div class="row" >
          <div class="col" >
          <input formControlName="name" type="text" placeholder="Nom" required>
          <div *ngIf="signUpForm.controls['name'].errors?.['required'] && (signUpForm.controls['name'].dirty || signUpForm.controls['name'].touched)" class="alert1" >
            name is required.
          </div>
        </div>
        <div class="col">
         <input type="text"  formControlName="lastname"  placeholder="Prénom" required>
         <div *ngIf="signUpForm.controls['lastname'].errors?.['required'] && (signUpForm.controls['lastname'].dirty || signUpForm.controls['lastname'].touched)" class="alert1" >
          last name is required.
        </div>
        </div>

        </div>
        <div class="row">
          <div class="col">
        <input formControlName="tel" type="text" placeholder="Téléphone" required>
          <div *ngIf="signUpForm.controls['tel'].errors?.['required'] && (signUpForm.controls['tel'].dirty || signUpForm.controls['tel'].touched)" class="alert1" >
            phone number is required.
          </div>
        </div>
          <div class="col">
          <input type="email" formControlName="email" placeholder="Adresse e-mail" required>
          <div *ngIf="signUpForm.controls['email'].errors?.['required'] && (signUpForm.controls['email'].dirty || signUpForm.controls['email'].touched)" class="alert1" >
            email is required.
          </div>
          <div *ngIf="signUpForm.controls['email'].invalid && signUpForm.controls['email'].dirty" class="alert1">
            email is invalid
          </div>
        </div>
        </div>
        <div class="row" >
          <div class="col" >
            <i class="icon" style="position: absolute;" [class]="show_eye ? 'pi pi-eye' : 'pi pi-eye-slash'" (click)="showPassword()"></i>
          <input formControlName="password" type="password" placeholder="Mot de passe" [type]="show_button ? 'text' : 'password'" required> 
          <div *ngIf="signUpForm.controls['password'].errors?.['required'] && (signUpForm.controls['password'].dirty || signUpForm.controls['password'].touched)" class="alert1" >
            password is required.
          </div>
          <div *ngIf="signUpForm.controls['password'].invalid && signUpForm.controls['password'].dirty" class="alert1">
            password must be at least 4 characters long.
          </div> 
        </div>
          <div class="col">
            <i class="icon" style="position: absolute;" [class]="show_eye ? 'pi pi-eye' : 'pi pi-eye-slash'" (click)="showPassword()"></i>
          <input  type="password" formControlName="confirmPassword" placeholder="répéter Mot de passe" [type]="show_button ? 'text' : 'password'" required>
          <div *ngIf="signUpForm.controls['confirmPassword'].errors?.['required'] && (signUpForm.controls['confirmPassword'].dirty || signUpForm.controls['confirmPassword'].touched)" class="alert1" >
            confirm Password is required.
          </div>
          <div *ngIf="signUpForm.controls['confirmPassword'].errors?.['mustMatch']" class="alert1" >
             Password is not Matched.
          </div>
        </div>
        </div>
        </div>
        <div class="lab1" style="display: flex; justify-content: center;padding: 2rem;">
          <label class="containercheck" >J'accepte la politique de confidentialité
             <input type="checkbox" formControlName="accept" >
             <span class="checkmark"></span>
          </label>
         </div>
        <div class="btn1">
          <button  type="submit" [disabled]="!signUpForm.valid" class="btn">Créez votre compte</button>
         <div class="alert alert-warning" role="alert" *ngIf="isSignUpFailed">
          {{ errorMessage }}
          </div>
          <div class="alert alert-success" role="alert"  *ngIf="isSuccessful">
            Your registration is successful!
          </div>
        </div>

      </form>

  </div>

</div>
